# Ignore Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Ignore Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ignore VS Code files
.vscode/

# Ignore other common files
.tmp/
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.iws
*.ipr
*.swp
.DS_Store